<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block base_stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/base.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/professional-theme.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/index.css') }}">
        {% endblock %}
        <title>{% block title %}Baseball Dashboard{% endblock %}</title>
        {% block stylesheets %}
            {{ importmap('app') }}
        {% endblock %}
    </head>
    <body>
    {% block navbar %}

    {% endblock %}
    {% block body %}{% endblock %}

    {% block javascripts %}{% endblock %}
    </body>
</html>
